/ControStatementsDemo.class
/HelloWorld.class
/Human.class
/LoopDemo.class
/NestedIfloopDemo.class
/NumbeReverse.class
/PrimeNumberDemo.class
/PrimeNumberSeries.class
/RightAngledTriangle.class
/SwitchBlockDemo.class
